<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小角钱包服务协议</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body style="padding:0.15rem;">
    <div id="customPact" v-cloak>
        <h2 class="txt_center font16">{{ headerTxt }}</h2>
        <h2 class="font14_w">{{ headerTxt2 }}</h2>

        <p class="level_title" v-for="(item, index) in level_txt2" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt2" :key="index">{{ item }}</p>

        <p class="level_title" v-for="(item, index) in level_txt3" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt3" :key="index">{{ item }}</p>

        <p class="level_title" v-for="(item, index) in level_txt4" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt4" :key="index">{{ item }}</p>

        <p class="font14_w">{{ headerTxt3 }}</p>
        <p class="font14_w">{{ headerTxt4 }}</p>
        <p class="font14_w">{{ headerTxt5 }}</p>
        <p class="font14_w">{{ headerTxt6 }}</p>
        <p class="font14_w">{{ headerTxt7 }}</p>

        <p class="level_title" v-for="(item, index) in level_txt5" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt5001" :key="index">{{ item }}</p>

        <p class="font14" v-for="(item, index) in txt5" :key="index">{{ item }}</p>

        <p class="level_title" v-for="(item, index) in level_txt6" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt6" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt7" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt7" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt8" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt8" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt9" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt9" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt10" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt10" :key="index">{{ item }}</p>

        <p class="font14_w">{{ headerTxt10 }}</p>
        <p class="font14_w">{{ headerTxt11 }}</p>
        <p class="font14_w">{{ headerTxt12 }}</p>

        <p class="level_title" v-for="(item, index) in level_txt11" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt11001" :key="index">{{ item }}</p>

        <p class="font14_w">{{ headerTxt111 }}</p>
        <p class="font14_w">{{ headerTxt222 }}</p>
        <p class="font14_w">{{ headerTxt333 }}</p>

        <p class="font14" v-for="(item, index) in txt11" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt12" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt12" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt13" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt13001" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt13" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt14" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt14" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt15" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt15" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt16" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt16001" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt16" :key="index">{{ item }}</p>

        
      
        <p class="level_title" v-for="(item, index) in level_txt28" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt28" :key="index">{{ item }}</p>

        

    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/rem.js"></script>
    <script src="../js/vue.js"></script>
    <script>
        if (!window.Promise) {
            document.write('<script src="//cdn.jsdelivr.net/npm/es6-promise@4.1.1/dist/es6-promise.min.js"><\/script><script>ES6Promise.polyfill()<\/script>')
        }
    </script>
    <script>
        new Vue({
            el: '#customPact',
            data: {
                headerTxt: '小角钱包服务协议',
                headerTxt2: '感谢您选择小角钱包服务。小角钱包服务协议（以下简称“本协议”）由青岛角落方舟商务咨询有限公司（以下简称“小角钱包”或“我们”）和您签订。“小角钱包”是为了满足我们旗下另一款软件产品“角落里”的应用场景而研发的，在此我们特别声明：“小角钱包”仅给角落向导提供服务，服务包含：1.为解决“角落里”客户和角落向导的信任问题，如“角落里”客户有代购需求，我们将预先收取所代购产品的应付款项，待办事项结束后，根据实际发生的金额进行支付。2.客户通过扫码付款的方式，给角落向导的现金打赏。',
                level_txt0: [

                ],

                level_txt2: [
                    '一、小角钱包服务协议的确认'
                ],
                txt2: [
                    '1、请您先仔细阅读本协议内容。如您为无民事行为能力人或为限制民事行为能力人，请告知您的监护人，并在您监护人的指导下阅读本协议和使用我们的服务。若您非中华人民共和国境内用户，您还需同时遵守您所属国家或地区的法律，且您确认，订立并履行本协议不违反您所属、所居住或开展经营活动或其他业务的国家或地区的法律法规。'
                ],

                level_txt3: [
                    '二、小角钱包服务相关定义'
                ],
                txt3: [
                    '1、小角钱包账户（或称“账户”）：指在您取得用户标识并通过小角钱包身份验证后，我们为您开立的收款账户。如您未完成小角钱包身份验证，则不能使用该服务。',
                    '2、小角钱包登录名：指您设置的用于登录用户标识或小角钱包账户的手机号。您取得小角钱包账户后，用户标识的登录名即成为您的小角钱包账户的登录名。',
                    '3、身份要素：指我们用于识别您身份的信息要素，包括但不限于您的用户标识、小角钱包账户、密码、数字证书、短信校验码、电话号码、手机号码、身份证件号码及生物识别信息（如指纹信息、人脸信息、声纹信息等）等信息。',
                    '4、止付：指小角钱包账户余额不能使用的限制措施，例如不能用于支付、提现或转账等服务。'
                ],

                level_txt4: [
                    '三、小角钱包为您提供的服务内容'
                ],
                headerTxt3: '小角钱包服务系我们与相关金融机构合作提供。该服务包括但不限于支付，存管，结算等。资金类服务均由合作金融机构提供。',
                headerTxt4: '服务的功能有如下几类：',
                headerTxt5: '1.收款：指您在小角钱包里通过我们合作的金融机构生成收款二维码，第三方通过扫码的方式把相应款项转移到我们合作的金融机构。',
                headerTxt6: '2.提现：指合作的金融机构把相应款项清算到我们在银行的存管账户后，您可以将您小角钱包账户内余额提现至您名下的银行账户。除非您的小角钱包账户被冻结、止付或采取其他限制措施，在符合收付款额度的前提下，存管银行将于收到提现指令后的合理时间内，从而可能导致到账时间延迟。',
                headerTxt7: '除本协议另有规定外，发生交易纠纷时，您不可撤销授权我们根据证据决定将争议款项的全部或部分支付给交易一方或多方。',
                txt4: [
                    // '为改善我们的产品或服务、向您提供个性化的信息搜索及交易服务，我们会根据您的浏览及搜索记录、设备信息、位置信息、交易信息，提取您的浏览、搜索偏好、行为习惯、位置信息等特征，基于特征标签进行间接人群画像并展示、推送信息。',
                    // '如果您不想接受我们给您发送的商业广告，您可随时通过相应产品退订功能取消。',
                ],

                level_txt5: [
                    '四、账户的注册、使用和注销'
                ],
                level_txt5001: [
                    '（一）注册'
                ],
                txt5: [
                    '1、您取得用户标识后可使用部分小角钱包服务；您还可以进一步申请并通过小角钱包验证后取得小角钱包账户，使用更多服务。具体验证方式以小角钱包页面提示为准。基于风险控制的需要，小角钱包可决定是否向您提供用户标识或账户。',

                ],

                level_txt6: [
                    '（二）使用'
                ],
                txt6: [
                    '1、身份要素是我们识别您身份的依据，请您务必妥善保管。使用身份要素进行的操作、发出的指令视为您本人做出。因您的原因造成的账户、密码等信息被冒用、盗用或非法使用，由此引起的风险和损失需要由您自行承担。',
                    '2、基于不同的终端以及您的使用习惯，我们可能采取不同的验证措施识别您的身份。例如您的小角钱包账户在新设备首次登录的，我们可能通过密码加校验码的方式识别您的身份。',
                    '3、为了保障您的资金安全，请把手机及其他设备的密码设置成与用户标识及账户的密码不一致。如您发现有他人冒用或盗用您的用户标识、账户或者小角钱包登录名及密码，或您的手机或其他有关设备丢失时，请您立即以有效方式通知我们；您还可以向我们申请暂停或停止小角钱包服务。由于我们对您的请求采取行动需要合理时间，如我们未在合理时间内采取有效措施，导致您损失扩大的，我们将就扩大的损失部分承担责任，但除非小角钱包存在故意或重大过失，我们对采取行动之前已执行的指令免于承担责任。',
                    '4、用户标识和账户仅限您本人使用，请勿转让、借用、赠与、继承，但小角钱包账户内的相关财产权益可被依法继承。',
                    '5、您在使用小角钱包相关服务时设置的昵称、头像、签名、留言、备注等，请务必遵守法律法规、公序良俗、社会公德，且不会侵害其他第三方的合法权益，否则我们可能会取消您的昵称、头像、签名、留言、备注等。',
                    '6、如您自开立小角钱包账户之日起6个月内无交易记录，则向您重新核实身份之前，我们有权暂停为您提供小角钱包服务。',
                    '7、基于运行和交易安全的需要，我们可能会暂停或者限制小角钱包服务部分功能，或增加新的功能。',
                    '8、为了维护良好的网络环境，我们有时需要了解您使用小角钱包服务的真实背景及目的，如我们要求您提供相关信息或资料的，请您配合提供。',
                    '9、为了您的交易安全，在使用小角钱包服务时，请您事先自行核实交易对方的身份信息（如交易对方是否具有完全民事行为能力）并谨慎决定是否使用小角钱包服务与对方进行交易。',



                ],


                level_txt7: [
                    '（三）注销'
                ],
                txt7: [
                    '1、在您需要终止使用小角钱包服务时，您可以依照我们的流程和页面提示申请注销您本人的用户标识或小角钱包账户，请您知悉并同意：',
                    '（1）您可以通过人工的方式申请注销用户标识或账户。',
                    '（2）为了维护您和其他用户的合法利益，在您申请注销用户标识或账户时，我们会进行风险审查，您的用户标识或账户应当不存在未完结交易或其他未了结的权利义务，且不存在其他因注销可能引发纠纷的情况。如您的账户有余额，请您在注销前先将您的账户下对应的可用款项全部提现。',
                    '2、发生下列情形之一的，我们可能会注销您的用户标识或账户：',
                    '（1）如您在有欺诈、或代购伪劣商品、侵犯他人合法权益或其他严重违反小角钱包规则的行为，小角钱包对您名下的用户标识或账户进行注销。',
                    '（2）根据本协议其他约定需被注销用户标识或账户的。',
                    '如您因上述（1）至（2）约定之情形而被注销用户标识或账户时，该用户标识或账户中仍有关联的余额，我们将会暂时替您保管，并在核实身份后协助您取回。',
                    '3、用户标识或账户注销后，您将无法使用我们的服务，双方的权利义务终止（本协议另有约定不得终止的或依其性质不能终止的除外），同时还可能产生如下结果：',
                    '（1）与用户标识或账户关联的权益（如小角钱包红包或优惠券等）均将作废；',
                    '（2）如您在注销用户标识或账户前存在违约、侵权等不当行为或未完结合同的，您仍应承担相应责任；',
                    '（3）一旦注销成功，账户记录、账户功能等将无法恢复或提供。',

                ],

                level_txt8: [
                    '五、使用小角钱包服务的注意事项'
                ],
                txt8: [
                    '为有效保障您使用我们服务时的合法权益，我们提醒您注意以下事项：',
                    '（一）身份验证',
                    '1、您在注册、使用我们服务的过程中，请您提供合法、真实、有效、准确并完整的资料（根据具体验证需要，可能包括身份证等证明、联系方式、通讯地址等）。 为了能将账户资金变动及时通知到您，以及更好保障您的账户安全，如该等资料发生变更，请您及时通知我们。 为了及时有效地验证您的信息，根据法律法规、监管要求或《小角钱包隐私权政策》约定，您同意我们可以在必要范围内与第三方进行信息核对。您应确保小角钱包登录名、用户标识或账户绑定的电子邮箱或手机号均为您本人持有，如您占用了他人的电子邮箱或手机号的，为避免给电子邮箱或手机号持有人带来不便或不利影响，也为了您的资金安全，我们可能将该邮箱或手机号从您的用户标识或账户中删除并解除关联。',
                    '2、为了满足相关监管规定的要求，也为了您的资金安全，在出现下列情形时，请您积极配合我们核对您的有效身份证件或其他必要文件，留存有效身份证件的彩色照片，且完成相关身份验证和安全验证：',
                    '（1）您要求变更身份信息或您身份信息已过有效期的；',
                    '（2）您的交易行为或交易情况出现异常的；',
                    '（3）您的身份信息或相关资料存在疑点的；',
                    '（4）存在应核对或留存您身份证件或其他必要文件的其他情形的。',
                    '3、为了满足相关监管规定的要求，请您按照我们要求的时间提供您的身份信息以完成身份验证，否则您可能无法进行收款、提现、等操作，且我们可能对您的账户余额进行止付或注销您的账户。',
                    '（二）存在如下情形时，我们可能会对您名下用户标识及/或小角钱包账户暂停或终止提供小角钱包服务，或对余额进行止付，且可能限制您所使用的产品或服务功能（比如对这些用户标识及/或账户名模、频率等进行限制）；情况严重的，我们还可能注销您的用户标识及/或小角钱包账户：',
                    '（1）您违反了法律下的款项和在途交易采取止付、取消交易、调账等限制措施，或对交易的方式、规法规的规定或本协议的约定；',
                    '（2）根据相关法律法规或有权机关的要求；',
                    '（3）您的用户标识或账户操作、资金流向等存在异常时；',
                    '（4）您的用户标识或账户可能存在风险的（比如您的小角钱包账户长期未被使用且存在一定安全隐患）；',
                    '（5）您在参加市场活动时有批量注册用户标识或账户、交易内容不符或作弊等违反活动规则、违反诚实信用原则的；',
                    '（6）他人向您小角钱包账户错误汇入资金等导致您可能存在不当获利的；',
                    '（7）您遭到他人投诉，且对方已经提供了一定证据的；',
                    '（8）您可能错误地操作他人用户标识或账户，或者将他人用户标识或账户进行了身份验证的；',



                ],

                level_txt9: [
                    '（三）小角钱包服务规则'
                ],
                txt9: [
                    '1、您认可用户标识或账户的使用记录、交易数据等均以我们的系统记录为准。如您对该等数据存有异议的，可及时向我们提出，我们会根据您提供的相关证据积极予以核实。',
                    '2、您使用小角钱包代为支付款项服务时，存在以下情况时会导致收款或提现不成功：',
                    '（1）您指定的账户余额不足；',
                    '（2）您指定的用户标识或账户已被采取止付、冻结或其他限制使用权限的措施；',
                    '（3）超出监管部门、小角钱包或银行规定的付款额度。',
                    '3、为了更好地向您提供服务，请您在使用小角钱包服务过程中，遵守本协议内容、小角钱包上出现的关于操作的提示及我们发送到您手机的提示。',
                    '4、我们会以公告、电子邮件、发送短信、电话、站内信或客户端通知等方式向您发送通知，例如通知您交易进展情况，或者提示您进行相关操作，请您及时予以关注。',


                ],

                level_txt10: [
                    '（四）我们的承诺和声明'
                ],
                txt10: [
                    //    '在使用我们服务的过程中，如遇到问题，您可以通过微信客服方式联系我们。为了保护您及他人的合法权益，维护绿色网络环境，如您被他人投诉或投诉他人，我们可能会将您的姓名及身份证号码、联系方式、投诉相关内容提供给消费者权益保护部门及监管机关，以便及时解决投诉纠纷；同时，出于维护您或他人的生命、财产等重大合法权益但又很难得到您本人同意的情况下，我们可能会将您的姓名及身份证号码、联系方式、投诉相关内容提供给争议相对方。但法律法规明确禁止提供的除外。'
                ],
                headerTxt10: '1、小角钱包并非金融机构，本协议项下涉及的资金转移均通过金融机构来实现，您接受资金在转移途中产生的合理时间。',
                headerTxt11: '2、基于相关法律法规的规定，对本协议项下的服务，我们均无法提供担保、垫资。',
                headerTxt12: '3、我们会将预先收取的支付款项，严格按照法律法规或金融机构的监管要求进行管理。我们提请您注意，小角钱包账户所记录的资金余额不同于您本人的银行存款，不受《存款保险条例》保护，在您提现前该资金不以您本人名义存放在银行，而是以我们的名义存放在银行，并且由我们向银行发起资金调拨指令。',

                level_txt11: [
                    '（五）交易风险提示'
                ],
                level_txt11001: [
                    '1、在使用我们的服务时，若您或您的交易对方未遵从本协议或相关说明、交易、提现页面中的操作提示、规则，则我们有权拒绝为您与交易对方提供服务，且我们免于承担损害赔偿责任。'
                ],
                txt11: [
                    // '1、在使用我们的服务时，若您或您的交易对方未遵从本协议或相关说明、交易、提现页面中的操作提示、规则，则我们有权拒绝为您与交易对方提供服务，且我们免于承担损害赔偿责任。'
                ],

                headerTxt111: '六）服务费用',
                headerTxt222: '在您使用我们的服务时，我们有权向您收取服务费用，具体服务费用以您使用我们服务时小角钱包产品页面上所列的收费方式公告或您与我们达成的其他书面协议为准。首次收费或调整服务费用标准前，我们将通过站内信或公告的方式提前予以公布，调整后的内容在公告届满30日起生效，若您无法同意调整后的内容，您有权停止使用相关服务。除非另有说明或约定，您同意我们有权自您的小角钱包账户余额扣除上述服务费。',
                headerTxt333: '您需要自行承担您使用我们服务期间的货币贬值等风险，您仅在您的小角钱包账户余额的范围内享有对该余额提现的权利，您对所有我们预先收取的支付款项（含冻结、止付或受限制的款项）所产生的收益（如利息和其他孳息）不享有权利。鉴于我们为您提供了优质服务，您本人同意上述预先收取的支付款项所产生的所有孳息包括但不限于利息及其他收益均归我公司所有。',

                level_txt12: [
                    '六、用户合法使用小角钱包服务的承诺'
                ],
                txt12: [
                    '1、您需要遵守中华人民共和国相关法律法规及您所属、所居住或开展经营活动或其他业务的国家或地区的法律法规，不得将我们的服务用于非法目的（包括用于禁止或限制交易物品的交易），也不得以非法方式使用我们的服务。',
                    '2、您不得利用我们的服务从事侵害他人合法权益之行为或违反国家法律法规，否则我们有权进行调查、延迟或拒绝结算或停止提供服务，且您需要自行承担相关法律责任，如因此导致我们或其他方受损的，您需要承担赔偿责任。',
                    '3、上述1和2适用的情况包括但不限于：',
                    '（1）侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益；',
                    '（2）违反保密义务；',
                    '（3）冒用他人名义使用我们的服务；',
                    '（4）涉嫌不法交易行为，如洗钱、恐怖融资、赌博、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他我们认为不得使用我们的服务进行交易的物品等；',
                    '（5）提供赌博资讯或以任何方式引诱他人参与赌博；',
                    '（6）未经授权使用他人银行卡，或利用信用卡、花呗套取现金；',
                    '（7）进行与您或交易对方宣称的交易内容不符的交易，或不真实的交易；',
                    '（8）从事可能侵害我们的服务系统、数据的行为。',
                    '4、账户仅限本人使用，您需充分了解并清楚知晓出租、出借、出售、购买账户的相关法律责任和惩戒措施，承诺依法依规开立和使用本人账户。',
                    '5、您理解，我们的服务有赖于系统的准确运行及操作。若出现系统差错、故障、您或我们不当获利等情形，您同意我们可以采取更正差错、扣划款项等适当纠正措施。',
                    '6、您不得对我们的系统和程序采取反向工程手段进行破解，不得对上述系统和程序（包括但不限于源程序、目标程序、技术文档、客户端至服务器端的数据、服务器数据）进行复制、修改、编译、整合或篡改，不得修改或增减我们系统的功能。',
                    '7、您不得自行或允许第三方通过非小角钱包官方程序、机器、脚本、爬虫、或其他自动化的方法使用小角钱包服务（包括小角钱包服务相关的网站）或获取小角钱包服务相关数据。您仅可通过本人人工操作的方式来使用小角钱包服务。',



                ],

                level_txt13: [
                    '七、用户权益保障及信息保护'
                ],
                level_txt13001: [
                    // '（一）共享'
                ],
                txt13: [
                    '1、客户权益保障承诺',
                    '我们一直秉承“客户第一”的原则，努力为您带来微小而美好的改变。为保障您在使用服务时的合法权益，我们向您承诺保障您的权益。',
                    '2、信息保护',
                    '我们重视对您信息的保护。关于您的个人信息依《小角钱包隐私权政策》受到保护与规范，详情请参阅《小角钱包隐私权政策》。',
                ],

                level_txt14: [
                    '八、不可抗力、免责及责任限制'
                ],
                txt14: [
                    '（一）免责条款',
                    '因下列原因导致我们无法正常提供服务，我们免于承担责任：',
                    '1、我们的系统停机维护或升级；',
                    '2、因台风、地震、洪水、雷电或恐怖袭击等不可抗力原因；',
                    '3、您的电子设备软硬件和通信线路、供电线路出现故障的；',
                    '4、因您操作不当或通过非经我们授权或认可的方式使用我们服务的；',
                    '5、因病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故障、电力故障、银行原因、第三方服务瑕疵或政府行为等原因。',
                    '尽管有前款约定，我们将采取合理行动积极促使服务恢复正常',
                    '（二）责任限制',
                    '我们可能同时为您及您的（交易）对手方提供服务，您同意对我们可能存在的该等行为予以明确豁免任何实际或潜在的利益冲突，并不得以此来主张我们在提供服务时存在法律上的瑕疵。'

                ],

                level_txt15: [
                    '九、知识产权的保护'
                ],
                txt15: [
                    '1、我们及关联公司的系统及小角钱包上的内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由我们或关联公司依法拥有知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。',
                    '2、非经我们或关联公司书面同意，请勿擅自使用、修改、反向编译、复制、公开传播、改变、散布、发行或公开发表小角钱包网站程序或内容。',
                    '3、尊重知识产权是您应尽的义务，如有违反，您需要承担损害赔偿责任。'


                ],

                level_txt16: [
                    '十、法律适用与管辖'
                ],
                level_txt16001: [
                    // '以下情形中，共享、转让、公开披露您的个人信息无需事先征得您的授权同意：'
                ],
                txt16: [
                    '本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生的争议，均应依照中华人民共和国法律予以处理，并由青岛角落方舟商务咨询有限公司所地人民法院管辖。',

                ],

                

                level_txt28: [
                    // '九、联系我们'
                ],
                txt28: [
                    // 'Tel:0532-88903698',
                    // 'E-mail:arkcorner@arkcorner.com',

                ],
    
            }
        })
    </script>

</body>

</html>